        /* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container{
    width: 1600px;
    background-color: white;
    margin: 0 auto;
}



img{
    float: left;
    height: 100px;
}

    




.cards{

    background-color:rgb(33, 25, 36);
    width: calc(100% / 3);
    height: 100px;
    max-width:400px;
    display:inline-block;
    

    

}
/* Body */

body {
    background-color: black;
}

/* Main */